<%= form_with model: @comment,url: micropost_comments_path(micropost.id),remote: true do |f| %>
  <fieldset class="form-group">
    <div class="form-group">
       <%= f.text_area :content , autocomplete:"content",class:"form-control" %>
    </div>
    <div class="actions">
       <%= f.submit "コメント",class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %> 