<% provide(:title, '一覧') %>

<h1>ユーザー一覧</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate %>
    <ul class="users">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
